a, button
  color: $color-anchor
  text-decoration: none
  cursor: pointer

  &:focus
    outline: none

  &:hover
    text-decoration: underline

button
  background: inherit
  border: none

.btn
  font-family: $font-primary
  line-height: 2.4rem
  min-height: 4.4rem
  padding: 0 3.6rem 0.2rem
  font-size: 1.6rem
  -webkit-appearance: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border-radius: 0
  position: relative

  .text
    display: flex
    justify-content: center
    align-items: center

  .spinner
    width: 3rem
    height: 3rem
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    svg 
      width: 3rem
      height: 3rem

  &:hover
    text-decoration: none
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out

  &.disabled:hover, &.waiting:hover
      cursor: default

  &.waiting .text
    opacity: 0

  &.btn--primary
    color: $color-primary-btn-text
    background-color: $color-primary-btn

    &:hover
      background-color: $color-primary-btn-hover

    &:active, &.waiting, &.waiting:hover
      background-color: $color-primary-btn-active

    &.disabled, .disabled:hover, .disabled:active
      background-color: $color-primary-btn-disabled
      color: $color-primary-btn-disabled-text

    .spinner .path
      stroke: white


  &.btn--secondary
    border: 1px solid $color-secondary-btn-border
    color: $color-secondary-btn-text

    &:hover
      background-color: $color-secondary-btn-hover

    &:active, &.waiting, &.waiting:hover
      background-color: $color-secondary-btn-active

    &.disabled, &.disabled:hover, &.disabled:active
      background-color: $color-secondary-btn-disabled
      color: $color-secondary-btn-disabled-text

    .spinner .path
      stroke: black

  &.btn--quiet
    color: $color-quiet-btn-text

    &:hover
      background-color: $color-quiet-btn-hover

    &:active, &.waiting, &.waiting:hover
      background-color: $color-quiet-btn-active

    &.disabled, &.disabled:hover, &.disabled:active
      background-color: transparent
      color: $color-quiet-btn-disabled-text

  &.btn--circle
    border-radius: 50%
    height: 5rem
    width: 5rem
    padding: 0

  &.btn--pill
    font-family: $font-primary
    border-radius: 9999px
    font-size: 1.6rem
    line-height: 3.6rem
    padding: 0 2.4rem

.close-button
  padding: 1rem
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center

  .icon
    width: 2.4rem
    height: 2.4rem

.checkbox  
  position: relative
  width: 2.8rem
  height: 2.8rem

  label
    width: 100%
    height: 100%
    cursor: pointer
    position: absolute
    left: 0
    top: 0
    border-radius: 2px
    border: 1px solid $checkbox-color-border
    transition: all 0.2s ease-out
    
    &:after
      content: ''
      width: 1.2rem
      position: absolute
      top: 0.6rem
      left: 0.6rem
      border: 3px solid $checkbox-color-tick-hover
      border-top: none
      border-right: none
      background: transparent
      opacity: 0
      transform: rotate(-45deg)
      transition: all 0.1s ease-out
    
    @include respond-to(sm)
      &:hover::after
        opacity: 1
  
  input[type=checkbox]
    visibility: hidden

    &:checked + label
      background: $checkbox-color-background-active
      border-color: $checkbox-color-border-active

    &:checked + label:after
      opacity: 1
      border-color: $checkbox-color-tick-active
        
  
