
.pill
  padding: 0 1.2rem
  color: $color-text-light
  @include font-size-text-3
  border-radius: 9999px
  line-height: 2.6rem
  background-color: $color-grey
  display: inline-block

  &.active
    color: white
    background-color: $color-blue

.circle-number
  border-radius: 50%
  height: 32px
  width: 32px
  line-height: 28px
  border: 2px solid $color-text
  text-align: center
  letter-spacing: 0
  font-size: 1.6rem
  display: inline-block

.icon
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  &.icon--circle
    border-radius: 50%
    height: 4rem
    width: 4rem
    padding: 0
    color: $color-primary-btn-text
    background-color: $color-primary-btn
    display: flex
    justify-content: center
    align-items: center