.image-upload
  position: relative

  .cover
    background-color: rgba(0, 0, 0, 0)
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    cursor: pointer
    transition: background-color 0.2s ease-out
    z-index: 1

    &:hover + .icon
      visibility: visible !important
      opacity: 1 !important

      svg
        fill: rgba(0, 0, 0, 0.75)

    &.cover--round
      border-radius: 9999px

    &:hover
      background-color: rgba(0, 0, 0, 0.12)

  .placeholder
    border: 2px dashed rgba(0, 0, 0, 0.5)
    cursor: pointer
    z-index: 1
    position: relative

    &.placeholder--round
      border-radius: 9999px

  .icon
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 50%

    &.hide
      visibility: hidden
      opacity: 0
      transition: opacity 0.2s ease-out

    svg
      fill: rgba(0, 0, 0, 0.5)
      width: 100%