; Set package to be publicly accessible
access = public
; Make sure to always create an annotated tag
git-tag-version = true
; Preformat the commit message used for tagging new versions
message = Release v%s
; Do not generate a package-lock.json
package-lock = false
registry = https://registry.npmjs.org/
unsafe-perm = true
; The NPM_TOKEN should be provided by the environment
//registry.npmjs.org/:_authToken = ${NPM_TOKEN}
