; Set package to be publicly accessible
access = public
; Make sure to always create an annotated tag
git-tag-version = true
; Preformat the commit message used for tagging new versions
message = Release v%s

; Authenticate to GitHub Packages using the GitHub token
//npm.pkg.github.com/:_authToken = ${GITHUB_TOKEN}

; Use the GitHub Packages registry for @ultimaker scoped packages
@ultimaker:registry=https://npm.pkg.github.com
