.app-switcher-menu {
    .drop-down-menu-base__item {
        &.btn > .text {
            display: flex;
            justify-content: flex-start;
        }
    }
}

.app-switcher-menu__desktop {
    .drop-down-menu-base__menu-container {
        bottom: calc(50% - 2.5rem);
    }

    .drop-down-menu-base__menu {
        right: calc(50% - 3rem);
        margin-bottom: 1.2rem;
        width: 28rem;
        padding: 1.2rem 0;
    }

    .drop-down-menu-base {
        height: 3.6rem;
    }

    .drop-down-menu-base__item {
        @include font-size-text-1;
        @include respond-to(md) {
            line-height: 2.8rem;
        }
    }
}

.app-switcher-menu__mobile {
    height: 5.4rem;

    .slide-in-panel,
    .slide-in-panel__container,
    .slide-in-panel__overlay {
        top: 5.5rem;
    }

    .slide-in-panel__content {
        padding: 1.2rem 0;
    }

    .drop-down-menu-base__item {
        padding: 1.2rem 3.6rem;

        &:hover,
        &:focus {
            background-color: $color-transparent;
        }
    }
}

.grid-icon {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
}

.grid-icon > .layer {
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%;
}

.grid-icon > .layer--primary {
    top: 0;
}

.grid-icon > .layer--secondary {
    top: 50%;
    margin-top: -3px;
}

.grid-icon > .layer--tertiary {
    bottom: 0;
}

.grid-icon > .layer > span {
    background-color: $color-text;
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    transition: 0.2s;
    width: 6px;
}

.grid-icon > .layer > span::before {
    display: block;
    content: '';
    width: 6px;
    height: 100%;
    background-color: $color-text;
    left: -9px;
    position: absolute;
    transition: 0.2s;
}

.grid-icon > .layer > span::after {
    display: block;
    content: '';
    width: 6px;
    height: 100%;
    background-color: $color-text;
    right: -9px;
    position: absolute;
    transition: 0.2s;
}

.app_switcher_trigger {
    padding: 1.5rem;

    @include respond-to(sm) {
        padding: 0.6rem;
    }

    &:hover,
    &:focus {
        .grid-icon > .layer > span,
        .grid-icon > .layer > span::before,
        .grid-icon > .layer > span::after {
            @include respond-to(sm) {
                background: $color-text-light;
            }
        }
    }
}

.app_switcher_trigger--open {
    background: $burger-menu-open-color-background;
    transition: 0.2s;

    @include respond-to(sm) {
        background: transparent;
    }

    .grid-icon > .layer > span,
    .grid-icon > .layer > span::before,
    .grid-icon > .layer > span::after {
        background: $burger-menu-open-color;
        transition: 0.2s;

        @include respond-to(sm) {
            background: $color-black;
        }
    }
}
