.aspect-ratio-container__height-setter {
    position: relative;
}

.aspect-ratio-container__content {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
