.carousel__fixed {
    margin: 2rem auto;
}

.alice-carousel__dots-item {
    background-color: $um-gray-5;
    transition: background-color 0.2s ease-out;

    &:hover,
    &.__active {
        background-color: $um-blue-5;
    }
}
