.carousel__fixed {
    margin: 2rem auto;
}

.alice-carousel__dots-item {
  background-color: $primary-btn-color-disabled;
  transition: background-color 0.2s ease-out;
  &:hover, &.__active {
    background-color: $primary-btn-color;
  }
}
