.checkbox {
    display: flex;
    flex-shrink: 1;
}

.checkbox__input {
    left: -9999px;
    position: absolute;
}

.checkbox__visual {
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: 2px;
    border: 1px solid $um-black;
    transition: background 0.2s ease-out,
        border-color 0.2s ease-out;

    @include respond-to(sm) {
        &:hover::after {
            opacity: 1;
        }
    }
}

.checkbox__visual::after {
    content: '';
    width: 1.2rem;
    height: 0.6rem;
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    border: 3px solid $um-gray-5;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
    transition: background 0.1s ease-out,
        border-color 0.1s ease-out,
        opacity 0.1s ease-out;
}

.checkbox--disabled {
    .checkbox__visual:hover::after {
        opacity: 0;
    }

    .checkbox__visual {
        cursor: default;
    }
}

.checkbox__input:focus + .checkbox__visual::after {
    opacity: 1;
}

.checkbox--checked {
    .checkbox__visual {
        background: $um-blue-5;
        border-color: $um-blue-5;
    }

    .checkbox__visual::after {
        opacity: 1;
        border-color: $um-white;
    }
}

.static-field .checkbox__visual {
    background: $color-grey-light;
    border-color: $color-grey-darker;

    &::after,
    &:hover::after {
        border-color: $color-grey-darker;
        opacity: 0.5;
    }
}
