.context-menu {
    .drop-down-menu-base__trigger {
        position: relative;
        cursor: pointer;
        color: $context-menu-color-trigger;
        height: 4.4rem;
        text-align: center;
        display: inline-block;
        border-radius: 9999px;
        background-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 99;

        &:hover, &:focus {
            background-color: $context-menu-color-hover;
            color: $context-menu-color-trigger-hover;
            transition: all 0.2s ease-out;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 2px;
            height: 2px;
            margin-left: -1px;
            margin-top: -1px;
            background-color: $context-menu-color-trigger;
            border-radius: 50%;
            box-shadow: 0 0 0 1px $context-menu-color-trigger, 0 8px 0 1px $context-menu-color-trigger, 0 -8px 0 1px $context-menu-color-trigger;
        }
    }

    &.context-menu--panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        .drop-down-menu-base {
            height: 100%;
            width: 100%;
        }

        .drop-down-menu-base__trigger {
            border-radius: 0;
            height: 100%;
            width: 100%;
        }
    }
}

.context-menu.context-menu--disabled {
    .drop-down-menu-base__trigger {
        color: $context-menu-disabled-color-trigger;

        &:hover, &:focus {
            background-color: $context-menu-disabled-color-hover;
            color: $context-menu-disabled-color-trigger-hover;
        }

        &:after {
            background-color: $context-menu-disabled-color-trigger;
            box-shadow: 0 0 0 1px $context-menu-disabled-color-trigger, 0 8px 0 1px $context-menu-disabled-color-trigger, 0 -8px 0 1px $context-menu-disabled-color-trigger;
        }
    }
}
