.drop-down-menu {
    @extend .drop-down-menu-base;

    .drop-down-menu-base__menu-container {
        z-index: 99999;

        &:before {
            right: 13px;
            left: auto;
        }
    }

    .drop-down-menu-base__menu {
        right: 0;
    }

    .drop-down-menu-base__item {
        white-space: nowrap;

        &.active {
            color: $drop-down-menu-color-text-active;
        }
    }

    .drop-down-menu-base__trigger {
        cursor: pointer;
        padding: 1.2rem 1.8rem;
        width: 100%;

        &:hover, &:focus {
            background-color: $context-menu-color-hover;
            transition: all 0.2s ease-out;
        }

        .drop-down-menu-base__trigger-label {
            text-align: left;
        }

        .panel-arrow {
            opacity: 1;
            margin-left: 0.9rem;
        }
    }
}
