.form-actions {
    flex: 0 0 auto;
    padding: 2.4rem 0 0;
    display: flex;
    flex-flow: row-reverse wrap;
}

.form-actions__btn-container {
    margin-left: 1.2rem;

    &:last-child {
        margin-left: 0;
    }

    > .btn {
        margin-bottom: 1.2rem;
    }
}

.form-actions--right {
    justify-content: flex-start;
}

.form-actions--center {
    justify-content: center;
}

.form-actions--left {
    justify-content: flex-end;
}
