.generic-flow-page {
    max-width: 54.4rem;
    margin: 3.6rem auto;
    padding: 0 1.2rem;

    @include respond-to(sm) {
        margin-top: 0;
    }
}

.generic-flow-page__header {
    text-align: center;
    margin-bottom: 2.4rem;

    @include respond-to(sm) {
        margin-bottom: 4.8rem;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.generic-flow-page__um-text {
    font-size: 2.4rem;
    font-weight: 500;
    color: $color-text;
}

.generic-flow-page__app__name {
    font-size: 2.4rem;
    font-weight: 300;
    margin-left: 0.6rem;
    color: $color-text;
}

.generic-flow-page__image {
    margin-bottom: 1.8rem;
    text-align: center;

    @include respond-to(sm) {
        margin-bottom: 3.6rem;
    }

    > .icon {
        margin: 0 auto;
    }
}

.generic-flow-page__title {
    text-align: center;

    @include font-size-header-1;
}

.generic-flow-page__description {
    text-align: center;
    margin: 1.8rem 2.4rem 0;

    @include respond-to(sm) {
        margin: 1.8rem 3.6rem 0;
    }
}

.generic-flow-page__content {
    margin-top: 3.6rem;
}
