.app__header {
    min-width: $min-window-width;
    z-index: 9999;
}

.app__primary-navigation {
    background-color: $color-background;
    border-bottom: 1px solid $color-border-light;

    @include respond-to(sm) {
        padding: 0.9rem 2.4rem;
    }
}

.app__header__logo {
    height: 3.6rem;
    display: inline-block;
    padding: 0.9rem 0;

    .cura-logo {
        width: 9.5rem;
        height: 1.8rem;
    }

    .ulimaker-logo {
        width: 12rem;
        height: 1.8rem;
    }
}

.app__header__home {
    &:hover, &:focus {
        text-decoration: none;
    }
}

.app__header__name {
    font-size: 2.2rem;
    margin-left: 1.2rem;
    color: $color-text;
}

.app--fixed-header .app__header {
    @include respond-to(sm) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}

.burger-menu {
    position: relative;
    height: 5.4rem;
    margin-right: 1.2rem;

    .burger-menu__button {
        height: 5.4rem;
        width: 5.4rem;
    }

    .burger-menu__icon, .burger-menu__icon:after, .burger-menu__icon:before {
        background-color: currentColor;
        content: "";
        height: 0.2rem;
        left: 0;
        position: absolute;
        width: 2.2rem;
    }

    .burger-menu__icon {
        top: 50%;
        display: block;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        &:before {
            top: -0.6rem;
        }

        &:after {
            bottom: -0.6rem;
        }
    }
}

.burger-menu--open {
    .burger-menu__icon {
        transform: rotate(-45deg);

        &:before {
            display: none;
        }

        &:after {
            bottom: 0;
            transform: rotate(90deg);
        }
    }
    
    .burger-menu__button {
        background: $burger-menu-open-color-background;
        color: $burger-menu-open-color;
    }
}
