.app__header {
    min-width: $min-window-width;
    background-color: $color-background;
    box-shadow: 0 2px 3px 0 $color-shadow;
    z-index: 999;
}

.app__primary-navigation {
    padding: 0.9rem 2.4rem;
}

.app__header__logo {
    height: 3.6rem;
    display: inline-block;
    padding: 0.9rem 0;

    .cura-logo {
        width: 9.5rem;
        height: 1.8rem;
    }

    .ulimaker-logo {
        width: 12rem;
        height: 1.8rem;
    }
}

.app__header__home {
    &:hover {
        text-decoration: none;
    }
}

.app__header__name {
    font-size: 2.4rem;
    margin-left: 0.9rem;
    color: $color-text;
}

.app__sub-navigation {
    padding: 0 2.4rem;
    border-top: 1px solid $color-border-light;
}

.app__sub-navigation__label {
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
}

.app--fixed-header .app__header {
    @include respond-to(sm) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}
