.icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.2rem;
    height: 2.2rem;

    svg {
        width: 100%;
        height: 100%;
    }

    &.icon--circle {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-btn-color-text;
        background-color: $primary-btn-color;
        font-size: 1.6rem;

        &.primary {
            svg {
                fill: $primary-btn-color-text;
            }

            &.disabled {
                background-color: $primary-btn-color-disabled;
                color: $primary-btn-color-disabled-text;

                svg {
                    fill: $primary-btn-color-disabled-text;
                }
            }
        }

        &.secondary {
            color: $secondary-btn-color-text;
            background-color: $secondary-btn-color;
            border: 2px solid $secondary-btn-color-border;

            svg {
                fill: $secondary-btn-color-text;
            }
        }

        &.alert {
            color: $alert-btn-color-text;
            background-color: $alert-btn-color;
            border: 2px solid $alert-btn-color-border;

            svg {
                fill: $alert-btn-color-text;
            }
        }

        &.alert, &.secondary {
            &.disabled {
                border-color: $color-text-lighter;
                color: $color-text-lighter;

                svg {
                    fill: $color-text-lighter;
                }
            }
        }
    }

    svg {
        display: inherit;
        fill: $color-text;
    }
}
