.icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.2rem;
    height: 2.2rem;

    svg {
        width: 100%;
        height: 100%;
    }

    &.icon--circle {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-primary-btn-text;
        background-color: $color-primary-btn;
        font-size: 1.6rem;

        &.primary {
            svg {
                fill: $color-primary-btn-text;
            }

            &.disabled {
                background-color: $color-primary-btn-disabled;
                color: $color-primary-btn-disabled-text;

                svg {
                    fill: $color-primary-btn-disabled-text;
                }
            }
        }

        &.secondary {
            color: $color-secondary-btn-text;
            background-color: $color-secondary-btn;
            border: 2px solid $color-secondary-btn-border;

            svg {
                fill: $color-secondary-btn-text;
            }
        }

        &.alert {
            color: $color-alert-btn-text;
            background-color: $color-alert-btn;
            border: 2px solid $color-alert-btn-border;

            svg {
                fill: $color-alert-btn-text;
            }
        }

        &.alert, &.secondary {
            &.disabled {
                border-color: $color-text-lighter;
                color: $color-text-lighter;

                svg {
                    fill: $color-text-lighter;
                }
            }
        }
    }

    &.icon--approved {
        svg {
            fill: $color-green;
        }
    }

    &.icon--email {
        svg {
            fill: $color-text;
        }
    }

    &.icon--highlight {
        svg {
            fill: $color-blue;
        }
    }

    &.icon--password {
        svg {
            fill: $color-text;
        }
    }

    &.icon--pending {
        svg {
            fill: $color-blue;
        }
    }

    &.icon--rejected {
        svg {
            fill: $color-red;
        }
    }

    &.icon--warning {
        svg {
            fill: $color-red;
        }
    }

    &.icon--website {
        svg {
            fill: $color-text;
        }
    }

    &.icon--download {
        svg {
            fill: $color-text;
        }
    }

    &.icon--upload {
        svg {
            fill: $color-text;
        }
    }

    &.icon--draft {
        svg {
            fill: $color-text-light;
        }
    }

    &.icon--published {
        svg {
            fill: $color-text-light;
        }
    }

    &.icon--unpublished {
        svg {
            fill: $color-text-light;
        }
    }

    &.icon--profile {
        svg {
            fill: $color-text-light;
        }
    }

    &.icon--link {
        svg {
            fill: $color-text;
        }
    }

    svg {
        display: inherit;
    }
}
