%input-style {
    background-color: white;
    width: 100%;
    padding: 1.2rem 0.9rem;
    border: none;
    border-bottom: 2px solid $input-field-color-border;
    font-size: 1.6rem;
    line-height: 2.2rem;
    outline: none;
    transition: border 0.2s ease-out;
    border-radius: 0;
    font-family: $font-primary;

    &.pad-right {
        padding-right: 2.5rem;
    }

    &:hover {
        border-bottom-color: $input-field-color-border-hover;
    }

    &:focus, &:active {
        border-bottom-color: $input-field-color-border-active;
    }

    &.error {
        border-bottom-color: $input-field-color-border-error;
    }

    &::placeholder {
        color: $input-field-color-placeholder;
    }
}

.input-field {
    &.hide-input {
        .input-container, .input-field__error-message {
            display: none;
        }

        .input-field__label {
            margin: 0;
        }
    }

    .input-container {
        position: relative;
    }

    .input {
        @extend %input-style;
    }

    .input-field__field-addition {
        .icon--required {
            margin-top: 1.8rem;
            width: 1rem;
            height: 1rem;

            svg {
                width: 1rem;
                height: 1rem;
                fill: $color-text-light;
            }
        }
    }

    &.input-field--checkbox {
        .input-field__label {
            margin-top: 0.9rem;
            margin-bottom: 0.9rem;
        }

        .input-field__field-addition {
            .icon--required {
                margin-top: 0.9rem;
            }
        }
    }

    &.input-field--textarea {
        .static-field p {
            margin: 0;
            min-height: 2.2rem;
        }
    }

    .input-field__label {
        @include font-size-text-2;

        margin-bottom: 0.6rem;
        margin-top: 1.2rem;
    }

    .input-field__validation {
        .offset-for-required {
            margin-right: 1.6rem;
        }
    }

    .input-field__error-message {
        margin-top: 0.6rem;
        color: $input-field-color-border-error;

        @include font-size-text-2;
    }

    .input-field__post-text {
        color: $color-text-light;
    }

    .drop-down-menu {
        &.drop-down-menu-base--visible {
            .drop-down-menu-base__trigger:hover {
                background-color: white;
            }
        }

        .drop-down-menu-base__menu {
            min-width: 100%;
        }

        .drop-down-menu-base__trigger {
            padding: 1.2rem 1.8rem 1.2rem 0.9rem;
            background-color: white;
            border-bottom: 2px solid $input-field-color-border;
            min-height: 4.8rem;

            &:hover, &:active, &.active {
                background-color: white;
                border-bottom-color: $input-field-color-border-hover;
            }

            &:focus {
                background-color: white;
                border-bottom-color: $input-field-color-border-active;
            }
        }

        &.drop-down-menu--error {
            .drop-down-menu-base__trigger {
                border-bottom-color: $color-border-error;
            }
        }
    }

    &.input-field--tags {
        &.hide-input {
            margin-bottom: -1.2rem;
        }

        .input-field__label {
            align-self: flex-end;
            margin-bottom: 1.3rem;
            margin-top: 0.6rem;
        }
    }
}

.textarea {
    .input {
        @extend %input-style;

        vertical-align: top;
        height: auto;
        min-width: 15rem;
        max-width: 100%;
        min-height: 9.2rem;
        max-height: 100vh;
    }
}

.date-picker {
    .react-date-picker {
        width: 100%;
    }

    .react-date-picker__wrapper {
        border: none;
        width: 100%;
    }

    .react-date-picker__inputGroup {
        @extend %input-style;

        color: $color-text;
        font-weight: 400;
    }

    &.error {
        .react-date-picker__inputGroup {
            border-bottom-color: $input-field-color-border-error;
        }
    }

    .react-date-picker__calendar {
        width: 30rem;
        top: calc(100% + 0.9rem);
        right: 0;
        left: auto;
        bottom: auto;
        margin-bottom: 1.2rem;

        &::before {
            background: white;
            border-top: 1px solid $context-menu-color-chevron-shadow;
            border-left: 1px solid $context-menu-color-chevron-shadow;
            border-width: 1px 0 0 1px;
            height: 1rem;
            right: 3rem;
            position: absolute;
            transform: translate(-50%, 0) rotate(45deg);
            top: -6px;
            width: 1rem;
            content: '';
        }
    }

    .react-calendar {
        border: none;
        background-color: $context-menu-color-background;
        border-radius: 1px;
        box-shadow: 0 0.1rem 0.2rem 0.1rem $color-shadow;
        padding: 1rem 0.5rem;
    }

    .react-calendar__navigation {
        margin-bottom: 0.5rem;
    }

    .react-calendar__tile {
        padding: 1rem 0;
    }
}

.file-upload {
    input[type=file] {
        position: absolute;
        opacity: 0;
        left: -9999px;
    }

    .file-upload__input-container {
        position: relative;
    }

    .file-upload__input {
        @extend %input-style;

        @extend .truncate;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
    }

    .info-link {
        position: absolute;
        right: 0.3rem;
        top: 50%;
        transform: translateY(-50%);
    }

    input[type=file]:focus + .btn {
        background-color: $primary-btn-color-hover;
    }
}

.search-field {
    .input {
        padding-left: 4rem;
    }

    .search-button {
        position: absolute;
        left: 0.8rem;
        top: 1.2rem;
        padding: 0;

        &.btn--quiet:hover {
            background-color: transparent;
        }
    }
}

.code-field {
    .input-wrapper-children {
        display: flex;
        justify-content: space-between;

        .input {
            width: 3rem;
            text-align: center;
        }

        .separator {
            line-height: 4.8rem;
            vertical-align: middle;
            display: inline-block;
        }
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}
