.keep-aspect-ratio {
    position: relative;
    background-color: green;
}
.keep-aspect-ratio__content {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: greenyellow;
}