.keep-aspect-ratio__height-setter {
    position: relative;
}
.keep-aspect-ratio__content {
    position: absolute;
    box-sizing: border-box;
    top:0;
    right:0;
    width: 100%;
    height : 100%;
}