.navigation {
    width: 100%;
    position: relative;

    .nav-links-container {
        display: flex;
    }

    ul {
        box-sizing: border-box;
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin: 0;
        list-style: none;
        padding: 0;

        li {
            flex: 1 1 0;
            margin: 0;
            position: relative;
            top: 0 !important;

            .nav-link {
                align-items: center;
                color: $color-text;
                display: flex;
                justify-content: center;
                text-align: center;
                border-bottom: 3px solid transparent;
                padding: 0 2.4rem;
                font-size: 1.4rem;
                transition: border 0.2s ease-out;
                height: 4.8rem;
                text-decoration: none;

                &:hover {
                    border-bottom-color: $color-background-darker;
                }
                
                @include respond-to(md) {
                    @include font-size-text-1;
                }


                &.active {
                    border-bottom-color: $color-border-active;
                    color: $color-text;
                }

                .label {
                    opacity: 1;
                    visibility: visible;
                    position: relative;
                    margin: 0;
                }
            }
        }
    }

    &.open {
        position: relative;
        background-color: transparent;
        
        li .nav-link {
            width: 150px;
            transition: width 200ms ease-in;

            .label {
                opacity: 1;
                visibility: visible;
                transition: visibility 200ms ease-in;
                transition-delay: 200ms;
            }
        }
    }
}

.burger-menu {
    position: relative;

    .burger-menu__icon, .burger-menu__icon:after, .burger-menu__icon:before {
        background-color: currentColor;
        content: "";
        height: 0.2rem;
        left: 0;
        position: absolute;
        width: 2.2rem;
    }

    .burger-menu__icon {
        top: 50%;
        display: block;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        &:before {
            top: -0.6rem;
        }

        &:after {
            bottom: -0.6rem;
        }

        &.open {
            transform: rotate(-45deg);

            &:before {
                display: none;
            }

            &:after {
                bottom: 0;
                transform: rotate(90deg);
            }
        }
    }
}
