.navigation__desktop {
    background-color: $color-background;
    position: relative;
    border-bottom: 1px solid $color-border-light;

    .navigation__container {
        width: 100%;
    }

    .navigation__label {
        border-bottom: 3px solid transparent;
        display: flex;
        align-items: center;
        font-family: $font-primary;
        font-weight: 500;
        height: 4.8rem;
    }

    .navigation__nav-list {
        box-sizing: border-box;
        list-style: none;
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        border: none;

        li {
            margin: 0;
        }
    }

    .navigation__nav-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.4rem;
        color: $color-text;
        padding: 0 2.4rem;
        height: 4.8rem;
        justify-content: center;
        text-align: center;
        border-bottom: 3px solid transparent;
        transition-duration: 0.2s;
        transition-property: border-bottom-color, color;
        transition-timing-function: ease-out;

        @include font-size-text-1;

        &:hover,
        &:focus {
            color: $color-blue;
            text-decoration: none;
        }

        .label {
            white-space: nowrap;
        }

        &.active {
            border-bottom-color: $color-border-active;
        }
    }
}

.navigation__mobile {
    .slide-in-panel,
    .slide-in-panel__container,
    .slide-in-panel__overlay {
        top: 5.5rem;
    }

    .slide-in-panel__content {
        padding: 0 0 1.2rem;
    }

    .drop-down-menu-base__item {
        padding: 1.8rem 2.4rem;

        &.active .label {
            color: $color-blue;
        }

        &:hover,
        &:focus {
            background-color: $color-transparent;
        }
    }
}

.navigation__account {
    border-bottom: 1px solid $color-border-light;

    .sub-navigation-mobile-menu .slide-out-container__header {
        padding: 2.4rem;
        font-family: $font-primary;
    }

    .sub-navigation-mobile-menu__options {
        border-bottom: none;
    }
}

.navigation__account-sign-in-btn {
    margin: 2.4rem auto;
    display: block;
    width: 80%;
}
