.pill {
    background-color: $color-grey-lighter;
    border-radius: 1.3rem;
    color: $color-grey-darker;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2.6rem;
    padding: 0 1.2rem;
}

.pill--active {
    background-color: $color-blue;
    color: $color-white;
}
