.progress-bar {
    width: 100%;
    position: relative;

    .progress-bar__progress-indicator {
        height: 2px;
        display: inline-block;
        background: $progress-bar-color;

        &.stopped {
            background: $progress-bar-color-paused;
        }
    }

    .progress-bar__empty {
        height: 2px;
        display: inline-block;
        background: white;
    }
}
