.profile-image {
    display: inline-block;

    .icon.icon--circle.primary.disabled {
        .icon--profile {
            width: 50%;
            height: 50%;

            svg {
                fill: $um-black;
            }
        }
    }
}
