.ratings {
    display: inline-block;
    position: relative;


    .ratings--foreground, .ratings--background {
        white-space: nowrap;
        overflow: hidden;
        svg {
            padding: 0.1rem;
        }
    }

    .ratings--foreground {
        position: absolute;
        top: 0;
    }

    .icon {
        display: inline-block;
        margin: 0 0.3rem;
    }
}
