.resource-view-more-link {
    background-color: transparent;
    border-radius: 2.2rem;
    color: $color-grey-dark;
    display: inline-block;
    height: 4.4rem;
    position: relative;
    text-align: center;
    transition: background-color 0.2s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 4.4rem;
    z-index: 99;

    &:hover,
    &:focus {
        background-color: $color-transparent-grey-light;
    }

    svg {
        width: 50%;
        height: 50%;
        margin: 25%;
    }
}
