.resource-view-more-link {
    position: relative;
    cursor: pointer;
    height: 4.4rem;
    width: 4.4rem;
    text-align: center;
    display: inline-block;
    border-radius: 9999px;
    background-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99;

    &:hover,
    &:focus {
        background-color: $context-menu-color-hover;
        color: $context-menu-color-trigger-hover;
        transition: background-color 0.2s ease-out,
            color 0.2s ease-out;
    }

    .icon {
        width: 50%;
        height: 50%;
        margin: 25%;
        svg {
            fill: $context-menu-color-trigger;
            &:focus {
                fill: $context-menu-color-trigger-hover;
            }
        }
    }
}
