.resource-tile {
    width: 24rem;
    height: 31.2rem;
    padding: 3.6rem 1.8rem 1.8rem;

    .context-menu {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
    }
}

.resource-tile__empty {
    background: transparent;

    .resource-tile__image {
        filter: opacity(0.5);
    }

    .btn {
        margin-top: 3rem;
    }
}

.resource-tile__image {
    height: 9.9rem;
}

.resource-tile__name {
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;

    @extend .truncate;

    @include font-size-text-1;
}
