.slide-out-container {
    width: 100%;

    .arrow-column {
        .panel-arrow {
            .icon.icon--single-arrow {
                width: 100%;
                height: auto;
            }
        }
    }
}

.slide-out-container__header {
    @include font-size-header-2;
    font-family: $font-primary;
    font-weight: 500;
    line-height: 2.6rem;
    cursor: pointer;
}

.slide-out-container__body {
    padding: 2.4rem 0;
}

.spring-container {
    overflow: hidden;
}
