.spinner {
    svg {
        animation: rotator 1s linear infinite;
    }

    .path {
        stroke-dasharray: 180px;
        transform-origin: center;
        stroke: $um-blue-5;
        stroke-dashoffset: 60px;
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
