.tags-selector {
    .react-tags__tags {
        position: relative;
    }

    .react-tags__search-input {
        width: 100%;
        display: inline-block;

        input {
            @extend %input-style;

            width: 100%;
            padding-top: 0.5rem;
        }
    }

    .react-tags__selected {
        .react-tags__selected-tag {
            @extend .pill;

            margin-right: 0.6rem;
            margin-bottom: 1.2rem;

            &:hover {
                background-color: $context-menu-color-hover;
                transition: background-color 0.2s ease-out;
                cursor: pointer;
            }
        }
    }

    .react-tags__suggestions {
        position: absolute;

        ul {
            background-color: $context-menu-color-background;
            line-height: 2.2rem;
            color: $context-menu-color-text;
            position: absolute;
            border-radius: 1px;
            z-index: 99998;
            box-shadow: 0 0.1rem 0.2rem 0.1rem $color-shadow;

            @include font-size-text-2;

            list-style: none;
            padding: 1rem 0;
            margin: 0;

            li {
                cursor: pointer;
                padding: 1.2rem 2.4rem;

                &:hover {
                    background-color: $context-menu-color-hover;
                    transition: background-color 0.2s ease-out;
                }

                mark {
                    text-decoration: underline;
                    background: none;
                    font-weight: 600;
                }

                .react-tags__activeSuggestion {
                    background: $context-menu-color-hover;
                    cursor: pointer;
                }
            }
        }
    }

    &.disabled {
        .react-tags__search {
            display: none;
        }
        .react-tags__selected-tag {
            &:hover {
                background-color: $pill-color-background;
                cursor: default;
            }
            &:focus {
                outline: none;
            }
        }
    }
}
