.tile {
    position: relative;
    background-color: $color-background;
    transition: background-color 0.2s ease-out;
}

.tile--disabled .cover, .tile--selected .cover {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background-color 0.2s ease-out;
}

.tile--selected .cover {
    background-color: $color-background-selected;
}

.tile--disabled .cover {
    background-color: $color-background-darkest;
}

.tile--alert {
    color: white;
    background-color: $color-background-alert;
}

.tile--success {
    color: white;
    background-color: $color-background-success;
}

.tile--shadow {
    box-shadow: 0 0.2rem 0.3rem 0 $color-shadow;
}

.tile--dashed {
    border: 1px dashed $color-border;
}

.tile--flat {
    border: 1px solid $color-border;
}
