.user-account-menu {
    .drop-down-menu-base__trigger {
        height: auto;
        position: relative;
        cursor: pointer;
        color: $context-menu-color-trigger;
        text-align: center;
        display: inline-block;
        border-radius: 9999px;
        background-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 99;

        &:hover, &:focus {
            background-color: $context-menu-color-hover;
            color: $context-menu-color-trigger-hover;
            transition: all 0.2s ease-out;
        }
    }

    .user-account-menu__trigger-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.user-account-menu--trigger-rectangle {
        .drop-down-menu-base__trigger {
            border-radius: 0;
        }
    }

    .drop-down-menu-base__menu-container {
        bottom: calc(50% - 2.5rem);
    }

    .drop-down-menu-base__menu {
        right: calc(50% - 3rem);
        margin-bottom: 1.2rem;
    }

    .sections {
        display: flex;
        flex-flow: row nowrap;
    }

    .account-section {
        width: 28rem;
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .account-section__profile {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            flex-grow: 1;
            padding: 3.6rem 0;
        }

        .account-section__title {
            @include font-size-header-2;

            font-family: $font-primary-medium;
            margin-bottom: 1.2rem;
        }

        .account-section__icon {
            text-align: center;
        }

        .account-section__name {
            font-family: $font-primary-medium;
            text-align: center;
            margin-top: 1.2rem;

            @extend .truncate;
        }

        .account-section__buttons {
            > .btn {
                width: 100%;
                margin-top: 1.2rem;
            }
        }
    }

    .other-section {
        @extend .account-section;

        border-right: 1px solid $color-border;
    }
}
