$color-blue: #196ef0 !default;
$color-blue-light: rgb(36, 188, 243) !default;
$color-blue-lighter: rgb(70, 196, 242) !default;
$color-blue-lightest: rgb(216, 243, 253) !default;
$color-red: rgb(239, 91, 91) !default;
$color-green: rgb(35, 170, 29) !default;
$color-orange: rgb(251, 176, 69) !default;
$color-black: rgb(0, 0, 0) !default;
$color-grey-darker: rgb(102, 102, 102) !default;
$color-grey-dark: rgb(153, 153, 153) !default;
$color-grey-mid: rgb(183, 183, 183) !default;
$color-grey-light: rgb(220, 220, 220) !default;
$color-grey-lighter: rgb(230, 230, 230) !default;
$color-grey-lightest: rgb(243, 243, 243) !default;
$color-white: rgb(255, 255, 255) !default;
$color-transparent: rgba(255, 255, 255, 0) !default;
$color-transparent-grey-lighter: rgba(0, 0, 0, 0.03) !default;
$color-transparent-grey-light: rgba(0, 0, 0, 0.06) !default;
$color-transparent-grey-mid: rgba(0, 0, 0, 0.09) !default;
$color-transparent-grey-dark: rgba(0, 0, 0, 0.16) !default;
$color-transparent-grey-darker: rgba(0, 0, 0, 0.25) !default;
$color-transparent-grey-darkest: rgba(0, 0, 0, 0.85) !default;
$color-transparent-blue: rgba(0, 167, 233, 0.06) !default;

$font-primary: 'Noto Sans', sans-serif !default;
// We keep the next line because we reference it in other places but it should never be used ever again!
// Specify weights instead!
$font-primary-medium: 'Noto Sans', sans-serif !default;

$min-window-width: 320px !default;

$layout-breakpoints: (
    lg: 1025px,
    md: 800px,
    sm: 620px
) !default;
$layout-fractions: 1 2 3 4 5 !default;
$layout-spacing: (
    lg: 3.6rem,
    md: 2.4rem,
    sm: 1.2rem,
    xs: 0.6rem,
    none: 0
) !default;
$layout-gutter-default: 2.4rem !default;

$border-radius: 3px !default;

$color-text: $color-black !default;
$color-text-light: $color-grey-darker !default;
$color-text-lighter: $color-grey-dark !default;

$color-body: $color-grey-lightest !default;
$color-background: $color-white !default;
$color-background-dark: $color-transparent-grey-lighter !default;
$color-background-darker: $color-transparent-grey-light !default;
$color-background-darkest: $color-transparent-grey-mid !default;
$color-background-selected: $color-transparent-blue !default;
$color-background-alert: $color-red !default;
$color-background-success: $color-green !default;

$color-border: $color-grey-light !default;
$color-border-light: $color-grey-lighter !default;
$color-border-active: $color-blue !default;
$color-border-error: $color-red !default;

$color-shadow-light: $color-transparent-grey-lighter !default;
$color-shadow: $color-transparent-grey-dark !default;
$color-shadow-dark: $color-transparent-grey-darker !default;

$color-anchor: $color-blue !default;

$primary-btn-color: $color-blue !default;
$primary-btn-color-text: $color-white !default;
$primary-btn-color-hover: $color-blue-light !default;
$primary-btn-color-active: $color-blue-lighter !default;
$primary-btn-color-disabled: $color-background-darker !default;
$primary-btn-color-disabled-text: $color-text-lighter !default;

$secondary-btn-color: $color-transparent !default;
$secondary-btn-color-text: $color-text !default;
$secondary-btn-color-border: $color-black !default;
$secondary-btn-color-hover: $color-background-darker !default;
$secondary-btn-color-active: $color-background-darkest !default;
$secondary-btn-color-disabled: $color-background-darker !default;
$secondary-btn-color-disabled-text: $color-text-lighter !default;

$quiet-btn-color-text: $color-blue !default;
$quiet-btn-color-hover: $color-background-darker !default;
$quiet-btn-color-active: $color-background-darkest !default;
$quiet-btn-color-disabled-text: $color-text-lighter !default;

$alert-btn-color: $color-transparent !default;
$alert-btn-color-text: $color-red !default;
$alert-btn-color-border: $color-red !default;
$alert-btn-color-hover: $color-background-darker !default;
$alert-btn-color-active: $color-background-darkest !default;
$alert-btn-color-disabled: $color-background-darker !default;
$alert-btn-color-disabled-text: $color-text-lighter !default;

$progress-bar-color: $color-blue !default;
$progress-bar-color-paused: $color-grey-mid !default;
$progress-bar-color-background: $color-grey-lightest !default;

$context-menu-color-background: $color-white !default;
$context-menu-color-text: $color-black !default;
$context-menu-color-trigger: $color-grey-dark !default;
$context-menu-color-trigger-hover: $color-background-darker !default;
$context-menu-color-hover: $color-background-darker !default;
$context-menu-color-chevron-shadow: $color-transparent-grey-light !default;
$context-menu-disabled-color-trigger: $color-grey-light !default;
$context-menu-disabled-color-trigger-hover: $color-background-dark !default;
$context-menu-disabled-color-hover: $color-transparent !default;

$drop-down-menu-color-text-active: $color-blue !default;

$checkbox-color-background-active: $primary-btn-color !default;
$checkbox-color-border-active: $primary-btn-color !default;
$checkbox-color-tick-active: $color-white !default;
$checkbox-color-border: $secondary-btn-color-border !default;
$checkbox-color-tick-hover: $color-border !default;

$tooltip-color-background: $color-blue !default;
$tooltip-dark-color-background: $color-grey-darker !default;
$tooltip-color-text: $color-white !default;
$tooltip-arrow-size: 15px !default;

$input-field-color-border: $color-transparent-grey-dark !default;
$input-field-color-border-hover: $color-transparent-grey-mid !default;
$input-field-color-border-active: $color-blue !default;
$input-field-color-border-error: $color-red !default;
$input-field-color-placeholder: $color-transparent-grey-darker !default;

$slide-out-color-background: $color-white !default;

$modal-overlay-color: $color-transparent-grey-darker !default;
$modal-overlay-color-light: $color-transparent-grey-mid !default;
$modal-overlay-color-dark: $color-transparent-grey-darkest !default;

$toolbar-color-background: $color-blue !default;

$tags-color-hover: $color-grey-darker !default;
$tags-color-close-text: $color-white !default;
$tags-color-close-background: $color-grey-dark !default;

$pill-color-background: $color-grey-lighter !default;
$pill-color-background-active: $color-blue !default;

$spinner-color: $color-blue !default;

$toggle-button-color: $color-white !default;
$toggle-button-color-background: $color-grey-light !default;
$toggle-button-color-active: $color-blue !default;
$toggle-button-color-background-focus: $color-grey-lighter !default;
$toggle-button-color-active-focus: $color-blue-lighter !default;

$range-slider-color: $color-white !default;
$range-slider-color-background-focus: $color-grey-lighter !default;
$range-slider-color-background: $color-grey-light !default;

$panel-arrow-color-blue: $color-blue !default;
$panel-arrow-color-black: $color-black !default;

$burger-menu-open-color: $color-white;
$burger-menu-open-color-background: $color-black;
