/* -----------------------------------------------------------------------------
 * Noto Sans
 * -------------------------------------------------------------------------- */

/*
 Web font files created using https://transfonter.org.
 - Selected character sets: Latin (non-extended), Cyrillic (non-extended)

 Verified with https://fontdrop.info.

 Using limited character sets keeps file size down. Therefore we support the following 20 languages:
 - Afrikaans
 - Albanian
 - Belarusian
 - Bosnian
 - Bulgarian
 - Catalan
 - Danish
 - Dutch
 - English
 - German
 - Icelandic
 - Italian
 - Macedonian
 - Norwegian
 - Portugese
 - Russian
 - Serbian
 - Spanish
 - Swedish
 - Zulu

 Asian languages will default to default to the user's system's font.
 */

/* REQUIRED Weights */
/* These are used within the UI */

/* 300 - Light */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/NotoSans-Light.woff") format("woff");
    src: url("../fonts/NotoSans-Light.woff2") format("woff2");
}
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/NotoSans-LightItalic.woff") format("woff");
    src: url("../fonts/NotoSans-LightItalic.woff2") format("woff2"),;
}

/* 400 -  Regular */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSans-Regular.woff") format("woff");
    src: url("../fonts/NotoSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/NotoSans-Italic.woff") format("woff");
    src: url("../fonts/NotoSans-Italic.woff2") format("woff2");
}

/* 500 - Medium */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSans-Medium.woff") format("woff");
    src: url("../fonts/NotoSans-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/NotoSans-MediumItalic.woff") format("woff");
    src: url("../fonts/NotoSans-MediumItalic.woff2") format("woff2");
}

/* EXTRA Weights */
/* These are included so that when we need them we have them, and already in the correct format with matching character sets.
Until that point though, they're commented out to prevent being loaded. */

/* 100 - Thin */
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     font-weight: 100;
//     src: url('../fonts/NotoSans-Thin.woff') format('woff');
//     src: url('../fonts/NotoSans-Thin.woff2') format('woff2');
// }
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: italic;
//     font-weight: 100;
//     src: url('../fonts/NotoSans-ThinItalic.woff') format('woff');
//     src: url('../fonts/NotoSans-ThinItalic.woff2') format('woff2');
// }

/* 200 - Extra Light */
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     font-weight: 200;
//     src: url('../fonts/NotoSans-ExtraLight.woff') format('woff');
//     src: url('../fonts/NotoSans-ExtraLight.woff2') format('woff2');
// }
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: italic;
//     font-weight: 200;
//     src: url('../fonts/NotoSans-ExtraLightItalic.woff') format('woff');
//     src: url('../fonts/NotoSans-ExtraLightItalic.woff2') format('woff2');
// }

/* 600 - Semi Bold */
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     font-weight: 600;
//     src: url('../fonts/NotoSans-SemiBold.woff') format('woff');
//     src: url('../fonts/NotoSans-SemiBold.woff2') format('woff2');
// }
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: italic;
//     font-weight: 600;
//     src: url('../fonts/NotoSans-SemiBoldItalic.woff') format('woff');
//     src: url('../fonts/NotoSans-SemiBoldItalic.woff2') format('woff2');
// }

/* 700 - Bold */
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     font-weight: 700;
//     src: url('../fonts/NotoSans-Bold.woff') format('woff');
//     src: url('../fonts/NotoSans-Bold.woff2') format('woff2');
// }
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: italic;
//     font-weight: 700;
//     src: url('../fonts/NotoSans-BoldItalic.woff') format('woff');
//     src: url('../fonts/NotoSans-BoldItalic.woff2') format('woff2');
// }

/* 800 - Extra Bold */
// @font-face {
//     font-family: 'Noto Sans ExtBd';
//     font-style: normal;
//     font-weight: 800;
//     src: url('../fonts/NotoSans-ExtraBold.woff') format('woff');
//     src: url('../fonts/NotoSans-ExtraBold.woff2') format('woff2');
// }
// @font-face {
//     font-family: 'Noto Sans ExtBd';
//     font-style: italic;
//     font-weight: 800;
//     src: url('../fonts/NotoSans-ExtraBoldItalic.woff') format('woff');
//     src: url('../fonts/NotoSans-ExtraBoldItalic.woff2') format('woff2');
// }

/* 900 - Black */
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     font-weight: 900;
//     src: url('../fonts/NotoSans-Black.woff') format('woff');
//     src: url('../fonts/NotoSans-Black.woff2') format('woff2');
// }
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: italic;
//     font-weight: 900;
//     src: url('../fonts/NotoSans-BlackItalic.woff') format('woff');
//     src: url('../fonts/NotoSans-BlackItalic.woff2') format('woff2');
// }
